import Srs{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'Srs{{properCase name}}',
  component: Srs{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { Srs{{properCase name}} },
  template: `
    <div>
      <srs-{{name}}></srs-{{name}}>
    </div>
  `
})